<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magazzino</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <main class="container">

        <a href="/">← Torna alla home</a>

        <h1>Magazzino</h1>

        <form action="{{ url_for('search') }}" method="get" class="search-box">
            <input
                type="text"
                name="q"
                placeholder="Cerca prodotto..."
                list="product-suggestions"
            >
            <datalist id="product-suggestions">
                {% for product in all_products %}
                    <option value="{{product.name}}">
                {% endfor %}
            </datalist>
            <button type="submit">🔍</button>
        </form>

        <div class="category-list">

            <a href="{{ url_for('warehouse_category', category='Pasta') }}" class="category-button">
                🍝Pasta
            </a>

            <a href="{{ url_for('warehouse_category', category='Bevande') }}" class="category-button">
                🥤Bevande
            </a>

            <a href="{{ url_for('warehouse_category', category='Latticini') }}" class="category-button">
                🧀Latticini
            </a>

            <a href="{{ url_for('warehouse_category', category='Dolci') }}" class="category-button">
                🍪Dolci
            </a>

            <a href="{{ url_for('warehouse_category', category='Altro') }}" class="category-button">
                📦Altro
            </a>

        </div>

        <div class="warehouse-list">

            {% for product in products %}

                <div class="product-card">

                    <h2>{{ product.name }}</h2>

                    {% for batch in product.batches if batch.quantity > 0 %}

                        <div class="batch">

                            <p>
                                <strong>Quantità:</strong>
                                {{ batch.quantity }}
                            </p>

                            <p>
                                <strong>Scadenza:</strong>
                                {{ batch.expiration_date.strftime("%d/%m/%Y") or "-" }}
                            </p>

                            <p>
                                <strong>Lotto:</strong>
                                {{ batch.lot_number or "-" }}
                            </p>

                            <p>
                                <strong>Posizione:</strong>
                                {{ batch.location or "-" }}
                            </p>

                        </div>

                    {% endfor %}

                </div>

            {% endfor %}

        </div>

    </main>

</body>

</html>